<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishesMapper">
   <select id="getSetmealByDishIds" resultType="java.lang.Long">
       select setmeal_id from setmeal_dish where dish_id in
       <foreach collection="dishIds" item="dishId" separator="," open="(" close=")">
           #{dishId}
       </foreach>
   </select>
    <insert id="insertBatch">
        insert into setmeal_dish (copies,dish_id,name,price,setmeal_id) values
        <foreach collection="setmealDishes" item="df" separator=",">
            (#{df.copies},#{df.dishId},#{df.name},#{df.price},#{df.setmealId})
        </foreach>
    </insert>
</mapper>
